{% extends 'ssapp/base.html' %}

{% block content %}
 <div class="animated bounceInRight delay-20s">
    <table width="100%">
            {%  for content in data %}
                {%  if content.sold %}
                    <a href="/homepage/solddetails/{{ content.id }}" class="list-group-item"><div align="center">Auction Ended/SoldOut
                    for  the product.Click to find out the Winner of  " {{ content.pname }} " of category "{{ content.list.name }}"</div> </a>
                {% else %}
           <a href="">
               <tr> <td colspan="5"height="5">&nbsp;</td> </tr>

            <tr>
                <td><label class="label label-info" >Product Name: </label>{{ content.pname }} </td>
                <td><label class="label label-info" >Category: </label>{{ content.list.name }}</td>
                <td><label class="label label-info" >Post Date: </label>{{ content.postdate }}</td>
                <td><label class="label label-info" >My Price: </label>{{ content.price}}</td>
                <td><label class="label label-info" >Bid Amount: </label>{{ content.bidprice }}</td>
                    </tr>
           </a>
               <tr> <td colspan="5"height="5">&nbsp;</td> </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td><a href='/homepage/solddetails/{{ content.id }}'(><button type="button" class="btn btn-primary">Sell Item</button></a></td>
                    <td> </td>
                    <td> </td>
                </tr>
<tr> <td colspan="5" height="5">&nbsp;</td> </tr>
                {% endif %}
            {% endfor %}
        </table>
        <br><br>
  <div align="center"><a href='/homepage/create/'(><button type="button" class="btn btn-primary">Add Product</button></a></div>
</div>
{% endblock %}